body{
    background-image: url('../img/472156_4k-white-wallpaper.jpg');
    background-repeat:repeat;
    background-size: cover;
}
/*Contacter*/
.contacter
{
    text-align: center;
    background-color:White;
    padding-top: 50px;
    line-height: 50px;
    margin-top: 70px;
    padding-left: -50px;
    padding-right: -50px;
}

.contacter img{
    width: 150px;
    height: 150px;
}
.text-muted {

    font-size:35px;
}
hr{
    border-top:4px solid salmon;
}


/*Footer*/
footer{
    background-color: #FEEEEE;
    padding-top:15px;
    text-align: center;
    
}
.copyright{
    margin-top:10px;
}

.footer img{
    width: 30px;
    height: 30px;
}


/*Navigation*/
/*
.bg-light {
    background-color:transparent!important;
}*/
/*
.dropdown-item:hover, .dropdown-item:focus {
    color: white;
    text-decoration: none;
    background-color: #0033FF;
}

.dropdown-item.active, .dropdown-item:active {
    color: white;
    text-decoration: none;
    background-color: #00FFCC;
}
*/
.navbar{
    background: #f5f6fa!important;
}

.navbar ul{
    font-size: 20px;
}


.bg-light {
    transition :200ms ease;
    background: linear-gradient(#ffff,#0000)!important;
}

.bg-light.scrolled{
    background:#fff!important;
}

/*Header*/



/*Container mid*/
.ct{
    color:#000;
    border: 4px solid #FFF;
    background-color: #FFF;
    border-radius: 5px;
    margin:10px;
    font-size:18px;
    text-align: justify;
    font-family: 'PT Serif', serif;
}

.container-fluid {
    width: 100%;
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

.text-white {
    color: #000 !important;
}

.text-white-50 {
    color: gray !important;
    text-align: justify!important;
}

.projects-section hr{
    border-width: .25rem;
    width: 30%;
}

.projetcs-section{
    background-color: black;
}

.h-100 {
    padding: 25px;
    background-color: #FFF;

}


.projects-section .featured-text {
    padding: 0 0 0 25px;
    border-left: .5rem solid salmon;
    text-align: justify!important;
}